.homeHeader {
    background-image: url('/quartier-genereux-header.webp');
    height: 0;
    padding-top: 29.53125%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
}

.headerPlaceholder {
    height: 0;
    width: 100%;
    margin-bottom: -96px;
}

.title {
    position: relative;
    z-index: 1;
    margin: 0 0 64px;
}

.title::after {
    content: "";
    display: inline-block;
    width: 96px;
}