@font-face {
  font-family: 'LilitaOne';
  font-style: normal;
  font-weight: 400;
  src: url('/LilitaOne-Regular.ttf') format('ttf'),
    url('/LilitaOne-Regular.woff2') format('woff2');
  
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100 900;
  src: url('/Raleway-VariableFont_wght.ttf') format('ttf'),
    url('/Raleway-VariableFont_wght.woff2') format('woff2');
  font-display: swap;
}


html,
body {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 25pt;
  color: #36478f;
  text-align: center;
}

h1 strong {
  color: #1cafaf;
}

a,
a:visited {
  color: #36478f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn,
.btn:visited {
  background-color: #36478f;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 1px;
  color: white;
  font-weight: 600;
}

.has-text-align-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}